<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.coteditor.script-bundler-sample</string>
	<key>CFBundleName</key>
	<string>ScriptBundlerSample</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>NSHumanReadableCopyright</key>
  <string>Copyright (c) 2016 Kaito Udagawa. Released under the MIT license.</string>
  <key>CotEditorHandlers</key>
  <array>
    <string>document opened</string>
    <string>document saved</string>
  </array>
</dict>
</plist>
